/* Home.css */

.hero {
  position: absolute;
  bottom: 25%;
  left: 15%;
}

.hero h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin-right: 250px;
}

.hero p {
  color: #eeee;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0rem 0 2rem 0;
  text-shadow: 2px 2px 4px #000000;
  margin-right: 200px;
}

.hero a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #222;
  width: 150px;
  padding: 9px;
  margin-left: 414px;
}

.home-heading {
  margin: 2rem;
  padding: 3rem;
}

.home-details {
  margin: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .hero {
    position: static;
    text-align: center;
    bottom: initial;
    left: initial;
  }

  .hero h1 {
    margin-right: 0;
    font-size: 2rem;
  }

  .hero p {
    margin-right: 0;
    font-size: 1rem;
  }

  .hero a {
    margin-left: auto;
    margin-right: auto;
  }

  .home-heading {
    margin: 1rem;
    padding: 2rem;
  }

  .home-details {
    margin: 10px;
  }
}

.img-container {
  position: relative;
  width: 99%;
  height: 98vh;
  overflow: hidden;
  margin-left: 6px;
}

.img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* Responsive styles */
@media (max-width: 768px) {
  .img-container {
    display: none;
  }
  .hero h1,
  .hero p,
  .hero a {
    color:grey;
    text-shadow: 2px 2px 4px white;
  }
}
@media (max-width: 768px) {
  .btn-primary {
    width: 100%;
    margin: 10px 0;
  }
}